<div class="login-container d-flex justify-content-center align-items-center animated slideInUpTiny animation-duration-3">
    <div class="login-content">
        <div class="login-header">
            <a class="site-logo" href="javascript:void(0)" title="Jambo">
                <img src="http://demo.g-axon.com/jumbo-admin/images/logo-color.png" alt="jambo" title="jambo">
            </a>
        </div>
        <div class="login-form">
            <form>
                <fieldset>
                    <div class="form-group">
                        <input name="email" id="email" class="form-control form-control-lg" placeholder="Email" type="email">
                    </div>
                    <div class="form-group">
                        <input name="password" id="password" class="form-control form-control-lg" placeholder="Password" type="password">
                    </div>
                    <div class="form-group text-row-between">
                        <div class="custom-control custom-checkbox mr-2">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                        </div>
                        <p>
                            <a href="forgot-password1.html" title="Reset Password">Forgot your password</a>
                        </p>
                    </div>
                    <a href="javascript:void(0)" class="gx-btn gx-btn-rounded gx-btn-primary">Sign In</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>