
<div class="d-flex flex-nowrap chat-item">
  <img class="user-avatar"
        src="http://demo.g-axon.com/jumbo-admin/images/userAvatar/domnic-harris.jpg" alt="...">
  <div class="bubble">
      <div class="message">English versions from the 1914 translation by
          H. Rackham
      </div>
      <div class="time">3:03:28 PM</div>
  </div>
</div>

<div class="d-flex flex-nowrap chat-item flex-row-reverse">
  <img class="user-avatar"
        src="http://demo.g-axon.com/jumbo-admin/images/userAvatar/domnic-harris.jpg" alt="...">
  <div class="bubble">
      <div class="message">English versions from the 1914 translation by
          H. Rackham
      </div>
      <div class="time">3:03:28 PM</div>
  </div>
</div>

