<!-- Page container -->
<div class="gx-container">

    <!-- Main Container -->
    <div class="gx-main-container">

        <!-- Main Content -->
        <div class="gx-main-content">
            <!--gx-wrapper-->
            <div class="gx-wrapper">
                <!-- <app-login *ngIf="isLoggedin"></app-login> -->
                <app-chat-box *ngIf="!isLoggedin" class="gx-module chat-module"></app-chat-box>
            </div>
            <!--/gx-wrapper-->

            <!-- Footer -->
            <!-- <footer class="gx-footer">
                <div class="d-flex flex-row justify-content-between">
                    <p> Copyright Company Name © 2018</p>
                    <a href="https://themeforest.net/item/jumbo-admin-responsive-admin-dashboard-template/21368029" target="_blank" class="btn-link text-uppercase">Buy Now</a>
                </div>
            </footer> -->
            <!-- /footer -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /main container -->

</div>
<!-- /page container -->