<div class="chat-main-header">
  <a id="gxChatModuleSideNav" href="javascript:void(0)"
      class="drawer-btn d-block action-btn action-btn d-lg-none mr-2">
      <i class="fa fa-sent"></i>
  </a>
  <div class="chat-main-header-info">
      <div class="chat-avatar mr-2">
          <div class="chat-avatar-mode">
              <img src="http://demo.g-axon.com/jumbo-admin/images/userAvatar/garry-sobars.jpg"
                    class="user-avatar size-60" alt="">
              <span class="chat-mode away"></span>
          </div>
      </div>
      <div class="chat-contact-name">Garry Sobars</div>
  </div>
</div>