<div class="chat-main-footer">
  <div class="d-flex flex-row align-items-center">
      <div class="col">
          <div class="form-group">
              <textarea class="border-0 form-control chat-textarea"
                        placeholder="Type and hit enter to send message"></textarea>
          </div>
      </div>
      <div class="chat-sent">
          <a class="action-btn" href="chat-start.html">
              <i class="zmdi  zmdi-mail-send"></i>
          </a>
      </div>
  </div>
</div>